CairoSVG==1.0.7
Jinja2==2.7.2
Markdown==2.4.1
MarkupSafe==0.23
Pillow==2.4.0
PyPDF2==1.21
Pyphen==0.9.1
WeasyPrint==0.22
cairocffi==0.5.4
cffi==0.8.2
cov-core==1.12
coverage==3.7.1
cssselect==0.9.1
guess-language-spirit==0.5a5
html5lib==0.999
lxml==3.3.5
mdx-smartypants==1.5.1
namedentities==1.5.2
py==1.4.20
pycparser==2.10
pytest==2.5.2
pytest-cov==1.6
python-dateutil==2.2
python-gnupg==0.3.6
reportlab==3.1.8
six==1.6.1
tinycss==0.3
